@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}

body {
  height: 100%;
  color: var(--foreground);
  background: var(--background);
}

:root {
  --background: #ffffff;
  --foreground: black;
  --primary: #9585ff;
  --foreground-alt: #5e5e5e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #222222;
    --foreground: white;
    --primary: #b8aeff;
    --foreground-alt: #a7a7a7;
  }
}
